<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf=8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.js"></script>
    <script src="{{ url_for('static', filename='engine.js') }}"></script>
    <!-- /* <script src="https://cdn.jsdelivr.net/gh/jamesroutley/24a2@v0.1/build/engine.js"></script> */ -->
    <script src="{{ url_for('static', filename='game.js') }}" type="module"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}"></script>
    <title>Conway's Game of Life</title>
</head>

<body>
    <div>
        <div class="gameFrame">
           <div id="gameCon">
                <p>This implements <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life" target="_blank">Conway's Game of Life</a> using James Routley's <a href="https://24a2.routley.io/">24a2 engine</a>.</p></div>
           <a href="https://github.com/FreyaSt/24-of-life" target="_blank">Repo</a>
           <button type="button" id="clearBoard">Clear Board</button>
           <button type="button" id="demoGlider">Glider Example</button>
    </div>
    </div>
</body>

</html>





































</html>
