<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf=8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.js"></script>
    <script src="{{ url_for('static', filename='engine.js') }}"></script>
    <!-- /* <script src="https://cdn.jsdelivr.net/gh/jamesroutley/24a2@v0.1/build/engine.js"></script> */ -->
    <script src="{{ url_for('static', filename='game.js') }}" type="module"></script>
    <title>Conway's Game of Life</title> 
</head>

<body>
    <h2>Click on a dot to get started. Use the arrow keys to toggle running the simulation.</h2>
    <div id="gameCon"></div>
    <p>This will eventually implement <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life" target="_blank">Conway's Game of Life</a> </p>
</body>

</html>





































</html>
